<!DOCTYPE html>
<html>

<head>

<title>Success</title>

<script>

function goDashboard(){

window.location.href="/dashboard"

}

</script>

<style>

body{

background:linear-gradient(to right,#1a002e,#3b0066);
color:white;
font-family:Arial;
text-align:center;
padding-top:150px;

}

button{

background:#8f33ff;
border:none;
padding:15px 25px;
color:white;
font-size:16px;
border-radius:10px;
cursor:pointer;

}

button:hover{

background:#a64dff;

}

</style>

</head>

<body>

<h1>✅ Loan Submitted Successfully!</h1>

<br>

<button onclick="goDashboard()">

Return to Dashboard

</button>

</body>

</html>