<!DOCTYPE html>
<html>

<body style="background:#1a002e;color:white;text-align:center;font-family:Arial">

<h1>📊 Add Transaction</h1>

<form action="/add_transaction" method="POST" onsubmit="return showSuccess()">

<select name="user_id" required>

<option value="">Select User</option>

{% for u in users %}

<option value="{{u.user_id}}">
{{u.user_id}} - {{u.name}}
</option>

{% endfor %}

</select>

<br><br>

<input name="amount" placeholder="Amount" required>

<br><br>

<button type="submit">
Add Transaction
</button>

</form>


<script>

function showSuccess(){

alert("✅ Transaction added successfully!");

return true;

}

</script>


<br><br>

<a href="/dashboard" style="color:white;text-decoration:none;font-size:18px">

⬅ Back to Dashboard

</a>

</body>

</html>